<%- include('../admin/layouts/header.ejs') %>
  <%- include('../admin/layouts/sidebar.ejs') %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


      <!-- Main content -->
      <div class="content">
        <br>
        <br>
        <!-- /.card -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Edit Student</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            
            <form action="/complaint/complaintupdate/<%= c._id %>"" method="post" enctype="multipart/form-data">
                <div class="form-group">
                  <label>Complaint Type</label>
                  <input type="text" name="ctype" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="">Semester</label>
                  <select name="semester" id="" class="form-control">
                      <option >Select Semester</option>
                      <option >1st Semester</option>
                      <option >2nd Semester</option>
                      <option >3rd Semester</option>
                      <option >4th Semester</option>
                      <option >5th Semester</option>
                      <option >6th Semester</option>
                      <option >7th Semester</option>
                      <option >8th Semester</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="">Subject/Title</label>
                  <input type="text" name="subject" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="">Complaint Details</label>
                  <textarea name="cdetail" id="" class="form-control"></textarea>
                </div>
                <div class="form-group">
                  <label for="">Attach Supporting Files</label>
                  <input type="file" name="image" class="form-control" required>
                </div>
                <button class="btn btn-success" type="submit">Submit</button>
              </form>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- Modal start -->

      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('../admin/layouts/footer.ejs') %>