<%- include('./header.ejs')   %>
<div class="carousel slide" data-bs-ride="carousel" id="a">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#b" data-bs-slide-to="0" class="active"></button>
    </div><!--carousel-indicators end-->

    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
            <img src="https://t4.ftcdn.net/jpg/05/10/86/29/360_F_510862902_K5o4Sz7odYbuFs6FLKqTH3L79eTDtjYc.jpg"
                class="w-100" alt="...">
        </div>
    </div><!--carousel-inner end-->
</div>

<div class="container-fluid mt-4">
    <div class="container">
        <div class="row ">
            <h1 class="text-center why" style="color: orange;"><span style="color: green;">Grievance</span>
                Redressal System</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row  ">
            <div class="col-md-6 ">
                <p class="whygrievance">The Grievance Redressal Cell has been developed to settle
                    the grievances of the students and other stakeholders within a reasonable time period for
                    further
                    strengthening the bond of the students with the institution by providing them with all kind of
                    facilities to a satisfaction level for maintaining a convenient ambience of academic teaching
                    and
                    learning.<br>
                    Oréll believes that providing on time and competent service is essential not only to attract
                    new customers, but also to retain existing ones. ITMGrievance, the revolutionary online
                    grievance
                    handling mechanism aims at minimising instances of complaints in professional </p>
            </div>
            <div class="col-md-6 ">
                <img src="https://www.umsl.edu/technology/files/images/student-banner.jpg" class="w-100">
            </div>
        </div>

        <div class="row ">
            <p class="whygrievanced">colleges through
                effective tracking and monitoring of grievances ensuring prompt redressal. This portal for online
                registration and disposal of grievances help users obtain immediate response and resolution to
                their grievances from the institution itself
            </p>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<%- include('./footer.ejs')   %>