<!-- footer start -->
<div class="container-fluid footbg">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="foot1">
                    <a href="" class="non foo">
                        <h1 style="color: orange;"> <span style="color: green;">ITMGrivance</span>Portal</h1>
                    </a>
                    <p>#1 Online Grievance Redressal Mechanism designed in accordance with
                        AICTE directive aims at resolving the grievances of students, parents,
                        staff and others with optimal transparency and accuracy.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="foot1">
                    <h2 class="h2">Some Links</h2>
                    <ul>
                        <li><a href="" class="nav-link-1">Home</a></li>
                        <li><a href="" class="nav-link-1">About</a></li>
                        <li><a href="" class="nav-link-1">GRS</a></li>
                        <li><a href="" class="nav-link-1">Features</a></li>
                        <li><a href="" class="nav-link-1">Benefits </a></li>
                        <li><a href="" class="nav-link-1">Help </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="foot1">
                    <h2 class="h2">24/7 SUPPORT &amp; HELP</h2>
                    <h6>+91 6391807355,
                        <br>
                        +91 8795984888(Support)
                    </h6>
                    <h2>Connect with Us</h2>
                    <a href="https://www.facebook.com/kargilsingh.singh/"><i
                            class="fa-brands fa-square-facebook"></i></a>
                    <a href="https://www.instagram.com/kargil.here/"><i
                            class="fa-brands fa-square-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/kargil-singh-a1aa35228/"><i
                            class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.youtube.com/channel/UC0YnXHMFq5sG-J18LoN_SeA"><i
                            class="fa-brands fa-youtube"></i></a>
                    <a href="https://twitter.com/kargilsingh12"><i class="fa-brands fa-square-twitter"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row text-center">
            <div class="col-md-4 footlast"> Copyright @ 2023. ITMGravience Portal. All Rights Reserved</div>
            <div class="col-md-4 footlast"> Private Policy  Terms  &amp; Condition</div>
            <div class="col-md-4 footlast"> Design By Nitin uprety</div>
        </div>
    </div>
</div>
<!-- footer end -->




<!--script start-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous">
    </script>
<!-- script end -->
</body>

</html>