<%- include('./header.ejs')   %>
<div class="carousel slide" data-bs-ride="carousel" id="a">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#b" data-bs-slide-to="0" class="active"></button>
    </div><!--carousel-indicators end-->

    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
            <img src="https://connect-assets.prosple.com/cdn/ff/daFN9EwdhdEJCvYevUUNcb-z4cAt9rJAdjcvtwRIGcc/1636549254/public/styles/scale_and_crop_center_890x320/public/2021-11/Banner-razorpay-1786x642-2021.jpg?itok=oXuwIQIT" class="w-100" alt="...">
        </div>
    </div><!--carousel-inner end-->
</div>

<div class="container-fluid mt-4">
    <div class="container">
        <div class="row ">
            <h1 class="text-center why" style="color: orange;"><span style="color: green;">Grievance</span>
                Redressal System</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row ">
            <p class="whygrievanced">Grievance Redressal System is a mechanism commonly used to
                receive and act on complaints or grievances reported by stakeholders of private 
                or public institutions, enabling prompt actions on any issue raised by them and 
                to avail services more effectively.Unlike the traditional Grievance Redressal 
                approach through letters and complaint forms, the new online based approach such 
                as grievance portals have very great appeal and its usage highly reflects the actual 
                state of customer satisfaction.Grievance Redressal can be handled directly by institutes
                through their own websites.</p>
        </div>

        <div class="row  ">
            <div class="col-md-6">
                <img src="https://edugrievance.com/image/home-grievance-redressal-system-content-img.png"
                    class="w-100">
            </div>
            <div class="col-md-6 ">
                <p class="whygrievance">Also the smart web portal for grievance processing
                    connects stakeholders and action-takers directly through online platform. 
                    Grievance Redressal System helps to pursue quick action for solving the
                    grievance, while maintaining affordability and ease to the users.Online
                    grievance redressal mechanism in higher education institutions
                    facilitates the main constituents of the institute including students,
                    parents, teachers and other non-teaching staff to lodge grievances and
                    ensure satisfactory solutions in a hassle-free manner. Effective and
                    timely redressal or settlement of the grievances makes grievance
                    redressal system mandatory in higher education institution,
                    according to the Ministry of Human Resource Development (MHRD),
                    Government of India..
                </p>
            </div>
        </div>

        <div class="row ">
            <p class="whygrievanced">Grievance Redressal System has now become part and 
                parcel of the operations of any administration. No institution can claim
                to be responsive and user-friendly unless it has an effective grievance
                redress mechanism. In fact, grievance redressal technology is the gauge to
                determine efficiency and effectiveness of the institution as it provides
                feedback on the organization functioning. In order to ensure transparency 
                in institutions imparting technical education, with the supreme objective of
                preventing unfair practices and to provide a mechanism to students, parents,
                teachers and other non-teaching staff for the redressal of their complaints,
                online grievance redressal mechanism is directed by approval councils in India.
                </p>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<%- include('./footer.ejs')   %>