<%- include('./header.ejs')   %>
<div class="carousel slide" data-bs-ride="carousel" id="a">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#b" data-bs-slide-to="0" class="active"></button>
    </div><!--carousel-indicators end-->

    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
            <img src="https://media.istockphoto.com/id/1165683016/photo/happy-students-walking-together-in-campus-having-break.jpg?s=612x612&w=0&k=20&c=WXPJrrArm-efcsc6ohTOfdTiNZkAZcb5dw83HrkKiCI="
            class="w-100" alt="..." style="height: 400px;">
        </div>
    </div><!--carousel-inner end-->
</div>

<div class="container-fluid mt-4">
    <div class="container">
        <div class="row ">
            <h1 class="text-center why" style="color: orange;"><span style="color: green;">How May</span>
                I Help You</h1>
        </div>
    </div>
</div>

<br>

<div class="container-fluid main">
    <div class="container">
        <div class="row paddingtop">
            <div class="col-md-6 comborder">
                <form class="ng-untouched ng-pristine ng-invalid" action="/inserthelp" method="post">
                    <h2 class="ml-11 text-center Your">LEAVE US MASSAGE</h2>
                    <div class="form-group help ">
                      <input type="text" name="name" placeholder="Name" class="form-control ng-untouched ng-pristine ng-invalid">
                    </div>
                    <div class="form-group help ">
                        <input type="text" name="roll_no" placeholder="Roll_No:" class="form-control ng-untouched ng-pristine ng-invalid">
                      </div>
                    <div class="form-group  help">
                      <input type="text" name="email" placeholder="email" class="form-control ng-untouched ng-pristine ng-invalid">
                    </div>
                    <div class="form-group  help">
                      <input type="number" name="mobile" placeholder="phone" class="form-control ng-untouched ng-pristine ng-invalid">
                    </div>
                    <div class="form-group  help">
                      <textarea name="message" placeholder="message" class="form-control ng-untouched ng-pristine ng-invalid"></textarea>
                    </div>
                    <div class="form-group help">
                      <a href=""><button class="btn  shadow-lg form-control ng-untouched ng-pristine ng-invalid">Submit</button></a>
                    </div>
                    <br>
                    <br>
                  </form>
            </div>
            <div class="col-md-6 ">
                <h1 class="cursive text-center">HOW MAY I HELP YOU</h1>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<%- include('./footer.ejs')   %>