<%- include('./header.ejs') %>
<% if(msg.length> 0){ %>
    <div class="alert alert-danger">
        <%= msg %>
    </div>
    <% } %>
            <!-- slider start -->
            <div class="carousel slide" data-bs-ride="carousel" id="a">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#b" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#b" data-bs-slide-to="1"></button>
                </div><!--carousel-indicators end-->

                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="4000">
                        <img src="https://res.cloudinary.com/djdseaeua/image/upload/v1682605719/sliderImage/pfttdnpxt9hmj3chnsqs.jpg"
                            class="w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="4000">
                        <img src="https://res.cloudinary.com/djdseaeua/image/upload/v1682605759/sliderImage/fvbumsxdelaomcmmfad3.jpg"
                            class="w-100" alt="...">
                    </div>
                </div><!--carousel-inner end-->

                <button class="carousel-control-prev" type="button" data-bs-target="#b" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#b" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
            <!-- slider end -->

            <div class="container-fluid mt-4">
                <div class="container">
                    <div class="row ">
                        <h1 class="text-center why" style="color: orange;"><span style="color: green;">Why</span>
                            Grievance Redressal System?</h1>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="container">
                    <div class="row  ">
                        <div class="col-md-6 ">
                            <p class="whygrievance">The Grievance Redressal Cell has been developed to settle
                                the grievances of the students and other stakeholders within a reasonable time period
                                for
                                further
                                strengthening the bond of the students with the institution by providing them with all
                                kind of
                                facilities to a satisfaction level for maintaining a convenient ambience of academic
                                teaching
                                and
                                learning.<br>
                                Oréll believes that providing on time and competent service is essential not only to
                                attract
                                new customers, but also to retain existing ones. ITMGrievance, the revolutionary online
                                grievance
                                handling mechanism aims at minimising instances of complaints in professional </p>
                        </div>
                        <div class="col-md-6 ">
                            <img src="https://edugrievance.com/image/home-grievance-redressal-system-content-img.png"
                                class="w-100">
                        </div>
                    </div>

                    <div class="row ">
                        <p class="whygrievanced">colleges through
                            effective tracking and monitoring of grievances ensuring prompt redressal. This portal for
                            online
                            registration and disposal of grievances help users obtain immediate response and resolution
                            to
                            their grievances from the institution itself</p>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="container">
                    <div class="row ">
                        <div class="col-md-4 text-center main shadow-lg">
                            <div class="comborder">
                                <a href="" class="component">
                                    <i class="fa-solid fa-user"></i></a>
                                <h2> Student</h2>
                                <p>Student can manage or view Their Grievance Here..</p>
                                <button class="btn btn1" type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#student">
                                    Login
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4 main text-center shadow-lg">
                            <div class="comborder">
                                <a href="" class="component">
                                    <i class="fa-solid fa-user-tie"></i></a>
                                <h2> Dean/Principal</h2>
                                <p>This Section is Managed By the Dean/Principal of ITM University</p>
                                <button type="button" class="btn loginbt" data-bs-toggle="modal"
                                    data-bs-target="#principal">Login</button>
                            </div>
                        </div>
                        <div class="col-md-4 main text-center shadow-lg">
                            <div class="  comborder"><a href="" class="component"><i
                                        class="fa-solid fa-chalkboard-user"></i></a>
                                <h2> Handler &amp; Admin</h2>
                                <p> this Section is managed and view by the Grievance handler.</p>
                                <button type="button" class="btn loginbt" data-bs-toggle="modal"
                                    data-bs-target="#admin">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>

            <div class="carousel slide" data-bs-ride="carousel" id="a">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#b" data-bs-slide-to="0" class="active"></button>
                </div><!--carousel-indicators end-->

                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="4000">
                        <img src="https://res.cloudinary.com/djdseaeua/image/upload/v1682605719/sliderImage/pfttdnpxt9hmj3chnsqs.jpg"
                            class="w-100" alt="...">
                    </div>
                </div><!--carousel-inner end-->

                <button class="carousel-control-prev" type="button" data-bs-target="#b" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
            </div>

            <br>
            <br>

            <!-- student modal -->
            <div class="modal fade" id="student" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="student">Student Login</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/verifylogin" method="post">
                                <div class="mb-3">
                                    <label for="">Email</label>
                                    <input type="email" name="email" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label for="">Password</label>
                                    <input type="password" name="password" class="form-control" required>
                                </div>
                                <button class="btn btn-primary">Submit</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <!-- admin modal -->
            <div class="modal fade" id="admin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="admin">Admin Login</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/verifylogin" method="post">
                                <div class="mb-3">
                                    <label for="">Email</label>
                                    <input type="email" name="email" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label for="">Password</label>
                                    <input type="password" name="password" class="form-control" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit123</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <!-- principal modal -->
            <div class="modal fade" id="principal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="principal">Principal Login</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/verifylogin" method="post">
                                <div class="mb-3">
                                    <label for="">Email</label>
                                    <input type="email" name="email" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label for="">Password</label>
                                    <input type="password" name="password" class="form-control" required>
                                </div>
                                <button class="btn btn-primary">Submit</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <%- include('./footer.ejs') %>