<%- include('./header.ejs')   %>
<br>
<br>

<div class="container-fluid">
        <div class="container">
            <div class="row ">
                <div class="col-md-4 text-center main shadow-lg">
                    <div class="comborder">
                        <a href="" class="component">
                            <i class="fa-solid fa-user"></i></a>
                        <h2> Student</h2>
                        <p>Student can manage or view Their Grievance Here..</p>
                        <a href="/studentlogin"><button type="button" class="btn loginbt"> Login</button></a>
                    </div>
                </div>
                <div class="col-md-4 main text-center shadow-lg">
                    <div class="comborder">
                        <a href="" class="component">
                            <i class="fa-solid fa-user-tie"></i></a>
                        <h2> Dean/Princopal</h2>
                        <p>This Section is Managed By the Dean/Principal of ITM University</p>
                        <a href="/deanlogin"><button type="button" class="btn loginbt"> Login</button></a>
                    </div>
                </div>
                <div class="col-md-4 main text-center shadow-lg">
                    <div class="  comborder"><a href="" class="component"><i
                                class="fa-solid fa-chalkboard-user"></i></a>
                        <h2> Handler &amp; Admin</h2>
                        <p> this Section is managed and view by the Grievance handler.</p>
                        <a href="/adminlogin"><button type="button" class="btn loginbt"> Login</button></a>
                    </div>
                </div>
            </div>
        </div>
</div>

<br>
<br>
<%- include('./footer.ejs')   %>